<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectQLHS.Properties.Settings.QLHocSinhConnectionString"
            connectionString="Data Source=LAPTOP-HTON42J2\SQLEXPRESS;Initial Catalog=QLHocSinh;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectQLHS.Properties.Settings.QLHocSinhConnectionString1"
            connectionString="Data Source=LAPTOP-JOPEUKH4\SQLEXPRESS;Initial Catalog=QLHocSinh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectQLHS.Properties.Settings.QLHocSinhConnectionString2"
            connectionString="Data Source=LAPTOP-HTON42J2\SQLEXPRESS;Initial Catalog=QLHocSinh;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>